<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <!-- <div id="background"></div> -->
          <!-- Video cannot be downloaded -->
          <%= video_tag(
            'https://r3---sn-npoeenl7.googlevideo.com/videoplayback?expire=1565857654&ei=FsNUXeHfCMrgigS99be4Dw&ip=181.215.94.68&id=o-AKSjuDl7Nvw54f7KV75iLj8MRGftfcI1-hGVeTjpIHxI&itag=137&aitags=133%2C134%2C135%2C136%2C137%2C160%2C242%2C243%2C244%2C247%2C248%2C278&source=youtube&requiressl=yes&mime=video%2Fmp4&gir=yes&clen=2873050&dur=9.999&lmt=1430013393823573&fvip=3&keepalive=yes&c=WEB&sparams=expire%2Cei%2Cip%2Cid%2Caitags%2Csource%2Crequiressl%2Cmime%2Cgir%2Cclen%2Cdur%2Clmt&sig=ALgxI2wwRQIhAKK4atLNyJJsNxO4v2q8-8wp7rx5wIuKoMYGLeeDVZHHAiAkaVRi0QOdzi2xA-_yPlTqWBsDHLSuEDbNx88qmyAb9Q%3D%3D&ratebypass=yes&title=Free%20HD%20Stock%20Video%20-%20AWESOME%20Motion%20Background&rm=sn-w5cgpm-jb3e7l,sn-npozl7s&req_id=8d28077a0962a3ee&cm2rm=sn-npozl7s&redirect_counter=3&cms_redirect=yes&ipbypass=yes&mip=61.94.40.210&mm=34&mn=sn-npoeenl7&ms=ltu&mt=1565835577&mv=u&mvi=2&pl=22&lsparams=ipbypass,mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRAIgOlwlH2Oieerfk0vKFiS6jE1QuC6nDLXvqwLq4U9UnRMCIG9oAiX8UM8TcjA38Y1vPDe3Q8-sO6PdhohbFKN0Cnr7',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'background.jpg'
          ) %>

          <%= render 'shared/application_nav' %>

          <div class="inner cover">
            <%= yield %>
          </div>
          <%= render 'shared/application_footer' %>

          <%= source_helper("application") %>
        </div>
      </div>
    </div>
  </body>
</html>
